{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    <header class="page-header page-header-dark  pb-10">
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">

                    <div class="col-12 col-xl-auto mt-4">

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-n10">
        <!-- Example Colored Cards for Dashboard Demo-->
        <div class="row">
            <div class="col-lg-6 col-xl-3 mb-4">
                <div class="card bg-primary text-white h-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="me-3">
                                <div class="text-white-75 small">Membres</div>
                                <div class="text-lg fw-bold">{{ allMembers|length }}</div>
                            </div>
                            <i class="feather-xl text-white-50" data-feather="user"></i>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between small">
                        <a class="text-white stretched-link" href="{{ path('members_list') }}">Liste des Membres</a>
                        <div class="text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                    {#<div class="card-footer d-flex align-items-center justify-content-between small">
                        <div class="text-white"><i class="fas fa-angle-right"></i><a href="{{ path('app_member') }}"></a></div>
                    </div>#}
                </div>
            </div>
{% endblock %}